.checkbox{
    display: block;
    position: relative;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0px 20px 1px 16px;
}
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }