.dialog-add{
    width:  60%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 3px;
    
    background-color: #fff;

    
   
}
.dialog-handle{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #0000007a;
    z-index: 1000;
   
}
.dialog-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
}

.dialog-body{
    margin: 0 15px;
  
}
.dialog-body-row{
    display: flex;
}
.row-text{
    font-size: 13px;
    margin: 8px 0;
    font-family: Roboto-regular;
}
.row-input{
    padding-left: 14px;
    width: 200px;
}
.text-error{
    color: red;
    font-size: 13px;
    position: absolute;
    top:100%;
    margin: 0;
    text-align: left;
    width: 100%;
}
.dialog-footer{
   
    display: flex;
    height: 66px;
    background-color:#f5f5f5;
    align-items: center;
    justify-content: right;
}




