.dialog-add{
    width:  60%;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 3px;
    z-index: 99999;
    background-color: #fff;
    display: none;
    
   
}
.dialog-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
}

.dialog-body{
    margin: 0 15px;
  
}
.row-text{
    font-size: 13px;
    margin: 8px 0;
}
.text-error{
    color: red;
    font-size: 13px;
    position: absolute;
    top:100%;
    margin: 0;
    text-align: left;
    width: 100%;
}
.dialog-footer{
    margin: 0 15px;
}
.dialog-handle{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #0000007a;
    z-index: 1000;
}



