
/*icon logo quản lý tài sản*/
.icon-logo{
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -20px -680px;
	width: 36px;
	height: 36px;
}
/*icon tổng quan khi chưa click vào*/
.icon-overview{
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -21px -153px;
	width: 22px;
	height: 22px;
}
/*icon tổng quan khi đượcclick vào */
.icon-overview-clicked{
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -22px -198px;
	width: 20px;
	height: 21px;
}
/*icon tài sản khi chưa click vào*/
.icon-asset{
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -65px -153px;
	width: 22px;
	height: 23px;
}

/*icon tài sản khi được click vào*/
.icon-asset-clicked{
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -65px -197px;
	width: 22px;
	height: 23px;
}

/*icon tài sản HT-ĐB khi chưa click vào*/
.icon-asset1{
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -110px -153px;
	width: 21px;
	height: 23px;
}


/*icon tài sản HT-ĐB khi được click vào*/
.icon-asset1-clicked{
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -110px -197px;
	width: 21px;
	height: 22px;
}


/*icon công cụ dụng cụ khi chưa click vào*/
.icon-tool{
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -153px -153px;
	width: 22px;
	height: 22px;
}

/*icon công cụ dụng cụ khi được click vào*/
.icon-tool-clicked{
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -153px -197px;
	width: 22px;
	height: 22px;
}

/*icon danh mục  khi chưa click vào*/
.icon-category{
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -197px -155px;
	width: 22px;
	height: 18px;
}

/*icon danh mục  khi được click vào*/
.icon-category-clicked{
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -198px -200px;
	width: 20px;
	height: 17px;
}

/*icon tra cứu khi chưa click vào*/
.icon-search{
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -241px -153px;
	width: 22px;
	height: 22px;
}

/*icon tra cứu khi được click vào*/
.icon-search-clicked{
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -240px -196px;
	width: 23px;
	height: 23px;
}

/*icon báo cáo khi chưa click vào*/
.icon-report{
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -329px -153px;
	width: 22px;
	height: 22px;
}

/*icon báo cáo khi được click vào*/
.icon-report-clicked{
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -330px -198px;
	width: 20px;
	height: 20px;
}

/*icon drop-down */
.icon-drop_down{
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -158px -293px;
	width: 12px;
	height: 7px;
}

/*icon thu nhỏ menu */
.icon-resize-nav{
    background: url('../../assets/icon/qlts-icon.svg') no-repeat -285px -417px;
	width: 22px;
	height: 22px;
	cursor: pointer;
	margin-right: 15px;
}

.icon-up-bold{
	background: url('../../assets/icon/qlts-icon.svg') no-repeat -28px -338px;
	width: 8px;
	height: 5px;
	cursor: pointer;
}
.icon-down-bold{
	background: url('../../assets/icon/qlts-icon.svg') no-repeat -72px -338px;
	width: 8px;
	height: 5px;
	cursor: pointer;
}

.icon-notification{
	background: url('../../assets/icon/qlts-icon.svg') no-repeat -332px -109px;
	width: 16px;
	height: 20px;
	cursor: pointer;
}

.icon-folder{
	background: url('../../assets/icon/qlts-icon.svg') no-repeat -199px -23px;
	width: 18px;
	height: 18px;
	cursor: pointer;
}

.icon-help{
	background: url('../../assets/icon/qlts-icon.svg') no-repeat -67px -67px;
	width: 18px;
	height: 18px;
	cursor: pointer;
}

.icon-avatar{
	background: url('../../assets/icon/qlts-icon.svg') no-repeat -23px -23px;
	width: 18px;
	height: 18px;
	cursor: pointer;
}
 .icon-search-filter{
	background: url('../../assets/icon/qlts-icon.svg') no-repeat -243px -23px;
	width: 18px;
	height: 18px;
 }

 .icon-type-asset{
	background: url('../../assets/icon/qlts-icon.svg') no-repeat -243px -69px;
	width: 17px;
	height: 16px;
 }

 .icon-plus{
	background: url('../../assets/icon/qlts-icon.svg') no-repeat -204px -424px;
	width: 8px;
	height: 8px;
 }

 .icon-export{
	background: url('../../assets/icon/qlts-icon.svg') no-repeat -287px -111px;
	width: 18px;
	height: 17px;
 }

 .icon-delete{
	background: url('../../assets/icon/qlts-icon.svg') no-repeat -463px -111px;
	width: 18px;
	height: 18px;
 }
