.table{
    overflow: auto;
    height: calc(100vh - 66px - 60px - 20px);
    border-radius: 3px;
    border: 1px solid rgb(32 26 25 / 34%) ;
    position: relative;
    cursor: pointer;
    background-color: #fff;
}
.table-content{
    font-size: 13px;
    border-collapse: collapse;
    border: unset;
    border-spacing: unset;
    width: 100%;
}
thead{
    height: 38px;   
    background-color: #f4f7ff;
}
thead th{
    text-align: left;
    position: sticky;
    top: 0;
}
tbody tr{
    height: 40px;
    border-bottom: 1px solid #0000001a;
    position: relative;
}
tbody td th{
    text-align: left;
}
.table-footer{
    height: 40px;
    display: flex;
    position: sticky;
    bottom: 0;
    z-index: 1;
}

.footer-left{
    margin-left: 16px;
    display: flex;
    text-align: left;
    align-items: center;
    position:fixed;
    bottom: 20px;
  
}